{% extends 'blog/base.html' %}
{% load extend_fun %}
{% block left %}
    {% for post in postlist %}
        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'blog:detail' post.id%}">{{post.title}}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'blog:category' post.category.pk %}">{{post.category.name}}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{post.create_time}}">{{post.create_time}}</time></a></span>
                    <span class="post-author"><a href="#">{{post.author.username}}</a></span>
                    <span class="comments-link"><a href="{% url 'blog:detail' post.id %}#comment-area">{{post.comment_set.count}} 评论</a></span>
                    <span class="views-count"><a href="{% url 'blog:detail' post.id %}">{{post.views}}阅读量</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{post.body|slice:'100'}}...</p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blog:detail' post.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        没有文章
    {% endfor %}
{% endblock%}